/* src/styles/Projects.module.css */
.container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
  }